{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/arish.alam.986/"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/alamarish/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/AarishAlam11"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/aarish-alam/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/RheagalFire"><img src="https://img.icons8.com/material-outlined/96/000000/github.png"/></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://rheagalfire.github.io/" target="_blank">Aarish Alam</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->